<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41759384347-b6nh5ics67eatjcimp85r3709s3t4a4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41759384347-b6nh5ics67eatjcimp85r3709s3t4a4v</string>
	<key>API_KEY</key>
	<string>AIzaSyBbFZrZP1fpAWWfw4j9ZtzAbITeIi8BHpY</string>
	<key>GCM_SENDER_ID</key>
	<string>41759384347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lesson9</string>
	<key>PROJECT_ID</key>
	<string>chat-aeac0</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-aeac0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41759384347:ios:bb56d737eaa1b5da2e29be</string>
</dict>
</plist>